{% load static %}
{% load i18n %}

<div class="container-fluid">

	<!-- Section TFT -->

	<div class="row">
		<div class="col-lg-6 p-0">
			<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.5, 'horizontalPosition': '90%'}" data-image-src="{% static 'images/homepage/products/tft-cervin-991-605.png' %}" style="min-height: 315px; position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url(''); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; transform: translate3d(0px, -118px, 0px); background-position-x: 100%;"></div>
			</section>
		</div>
		<div class="col-lg-6 p-0">
			<section class="section section-no-border h-100 m-0">
				<div class="row m-0">
					<div class="col-half-section col-half-section-left">
						<h2 class="text-uppercase mt-2 font-weight-bold">{% trans "<strong>TFT </strong>Displays" %}</h2>
						<p class="text-4 text-color-dark">{% trans 'Our large TFT portfolio contains sizes from <strong>1.44" up to 100"</strong>, in different technologies - TN, IPS, MVA or O-Film.' %}</p>
						<p class="custom-text-color-1 mb-4">{% trans 'Our large TFT portfolio contains sizes from 1.44" up to 100", in different technologies - TN, IPS, MVA or O-Film. Whether 4:3 or wide format, and even stretch or round TFT, we can provide the adequate display for your application.' %}</p>
						
						<a href="#" class="btn btn-outline btn-primary custom-btn-style-2 font-weight-semibold text-color-dark text-uppercase mt-2">{% trans "Read More" %}</a>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Section LCD -->

	<div class="row">
		<div class="col-lg-6 order-2 order-lg-1 p-0">
			<section class="section section-no-border h-100 m-0">
				<div class="row justify-content-end m-0">
					<div class="col-half-section col-half-section-right custom-text-align-right">
						<h2 class="text-uppercase mt-2 font-weight-bold">{% trans "Colour Segments and Monochrome <strong>LCD Displays</strong>" %}</h2>
						<p class="text-4 text-color-dark">{% trans "Whatever the type of product you need, OPTO Logic TECHNOLOGY will be able to provide you the appropriate solution." %}</p>
						<p class="custom-text-color-1 mb-4">{% trans "Whatever your need, from <strong>LCD Glass</strong> only to <strong>Full Custom LCD Module</strong>, our long time experienced engineer Team will suggest and help you for your display’s definitions." %}</p>

						<a href="#" class="btn btn-outline btn-primary custom-btn-style-2 font-weight-semibold text-color-dark text-uppercase mt-2">{% trans "Read More" %}</a>
					</div>
				</div>
			</section>
		</div>
		<div class="col-lg-6 order-1 order-lg-2 p-0">
			<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="{% static 'images/homepage/products/lcd-mix-991-605.jpg' %}" style="min-height: 315px; position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url('{% static "" %}'); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 180%; transform: translate3d(0px, -208px, 0px); background-position-x: 100%;"></div>
			</section>
		</div>
	</div>

	<!-- Section Embedded systems -->

	<div class="row">
		<div class="col-lg-6 p-0">
			<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="{% static 'images/homepage/products/GF-HMI-991-605.png' %}" style="min-height: 315px; position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url('{% static "" %}'); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 180%; transform: translate3d(0px, -304.857px, 0px); background-position-x: 100%;"></div>
			</section>
		</div>
		<div class="col-lg-6 p-0">
			<section class="section section-no-border h-100 m-0">
				<div class="row m-0">
					<div class="col-half-section col-half-section-left">
						<h2 class="text-uppercase mt-2 font-weight-bold">{% trans "Embedded Systems" %}</h2>
						<p class="text-4 text-color-dark">{% trans "Let's talk" %}</p>
						<p class="custom-text-color-1 mb-4">{% trans 'Our Embedded Systems  solutions based on <strong class="text-primary">ARM processor</strong> provide many advantages: rapid implementation, competitive on small to large series, several possible assemblies, customization.' %}</p>

						<a href="#" class="btn btn-outline btn-primary custom-btn-style-2 font-weight-semibold text-color-dark text-uppercase mt-2">{% trans "Read More" %}</a>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Section printer -->

	<div class="row">
		<div class="col-lg-6 order-2 order-lg-1 p-0">
			<section class="section section-no-border h-100 m-0">
				<div class="row justify-content-end m-0">
					<div class="col-half-section col-half-section-right custom-text-align-right">
						<h2 class="text-uppercase mt-2 font-weight-bold">{% trans "Kiosk, mechanism or panel <strong>Thermal Printers</strong>" %}</h2>
						<p class="text-4 text-color-dark">{% trans "Kiosk printer, built-in printer or mechanism, our range of thermal and matrix printing solutions covers all needs." %}</p>

						<a href="#" class="btn btn-outline btn-primary custom-btn-style-2 font-weight-semibold text-color-dark text-uppercase mt-2">{% trans "Read More" %}</a>
					</div>
				</div>
			</section>
		</div>
		<div class="col-lg-6 order-1 order-lg-2 p-0">
			<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="{% static 'images/homepage/products/edito-printer-KSM347P-with-loop.png' %}" style="min-height: 315px; position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url('{% static "" %}'); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 180%; transform: translate3d(0px, -208px, 0px); background-position-x: 100%;"></div>
			</section>
		</div>
	</div>

</div>