{% load static %}
{% load i18n %}

<div class="container" id="practice-areas">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="mt-4 mb-0">{% trans "Our" %} <strong>{% trans "Expertise" %}</strong></h2>
            <div class="divider divider-primary divider-small divider-small-center mb-4">
                <hr>
            </div>
        </div>
    </div>
    <!-- TODO Link vers les différentes sections 7x -->
    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/lcd_mono_64.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "Monochrome LCD displays" %}</h4>
                    <p>{% trans "Segments, alphanumeric and graphic." %}</p>
                    <a class="mt-3" href="#">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/epaper_icon_64.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "ePaper" %}</h4>
                    <p>{% trans "When energy matters." %}</p>
                    <a class="mt-3" href="#">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/tft_icon_64.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "Colour TFT & LCD displays" %}</h4>
                    <p>{% trans "Colour for more readable information." %}</p>
                    <a class="mt-3" href="#">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

		<div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/oled_icon_64.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "Monochrome and full color OLED displays" %}</h4>
                    <p>{% trans "Image quality and contrast." %}</p>
                    <a class="mt-3" href="#3">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/touch_icon_64.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "Resistive and capacitive touch panels" %}</h4>
                    <p>{% trans "To interact with your interface" %}</p>
                    <a class="mt-3" href="#">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

		<div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/printer_icon.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "Thermal and matrix printers." %}</h4>
                    <p>{% trans "Image quality and contrast." %}</p>
                    <a class="mt-3" href="#">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/industrial_pc_64.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "Industrial PCs and monitors." %}</h4>
                    <p>{% trans "Hardened PC or monitors with long lifetime." %}</p>
                    <!--<a class="mt-3" href="#">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>-->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/embedded_pc_icon_64.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "Embedded PCs." %}</h4>
                    <p>{% trans "HMI with ARM system" %}</p>
                    <a class="mt-3" href="#">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 mb-4 appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                <div class="feature-box-icon w-auto mt-3">
                    <img src="{% static 'images/about-us/icons/som_icon_64.svg' %}" alt="">

                </div>
                <div class="feature-box-info ml-3">
                    <h4 class="mb-2">{% trans "SOM" %}</h4>
                    <p>{% trans "System On Module" %}</p>
                    <!--<a class="mt-3" href="#">{% trans "Learn More" %} <i class="fas fa-long-arrow-alt-right"></i></a>-->
                </div>
            </div>
        </div>
    </div>
</div>