{% load static %}
{% load i18n %}

<section class="section section-no-border custom-section-spacement-1 bg-color-light m-1" id="custom">
    <div role="main" class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading heading-border heading-middle-border heading-middle-border-center">
                        <h1><strong class="text-primary">{% trans "Privacy" %}</strong>{% trans " policy" %}</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="lead text-justify">
                        {% trans "TODO blabla bla" %}
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>